__pycache__
*pyright*
*.sh
*.vscode
*.cache
compile_commands.json
build_linux64
build_win64
CMakeCache*
!clear_linux64.sh
!clear_win64.sh
!make_linux64.sh
!make_win64.sh
.clangd
form_main_window.py
market_engine_icons_rc.py
gpu_kernel_embedded/